
<div class="recomend_user">
  <div class="user_info">
    <div class="avatar">
      <a href="<%= student_path(student.id) %>">
        <% if student.avatar_file_name %>
          <img src="<%= student.avatar.url(:medium) %>">
        <% end %>
      </div>
      <div class="user_name">
        <div class="kanji">
          <h2><%= student.name %></h2>
        </div>
        <div class="kana">
          <p><%= student.name_kana %></p>
        </a>
      </div>
    </div>
  </div>
</div>