  <div class="header">
    <h1>Tunageru</h1>
  </div>

  <div class="navi">
  <p>

    <%= link_to '学生のログアウト', destroy_student_session_path, method: :delete %>&nbsp;&nbsp;&nbsp;
    <%= link_to '社会人のログアウト', destroy_worker_session_path, method: :delete %>
    </p>
  </div>