  <div class="header">


  </div>


検索テキストフィールド<br>




<% if student_signed_in? %>

<div class="recomend_top_comment">

  <h3>悩みを先輩たちに相談してみよう！</h3>
  <p><%= current_student.name %>さんにおすすめの先輩たち </p>


</div>

<div class="recomend_users">



  <%= render partial: "worker", collection: @workers %>


</div>






<% elsif worker_signed_in? %>

<div class="recomend_top_comment">

  <h3>後輩たちの相談に乗ってあげよう！</h3>
  <p><%= current_worker.name %>さんに近い後輩たち </p>


</div>



<div class="recomend_users">

  <%= render partial: "student", collection: @students %>


</div>




<% end %>
