  <div class="header">
    <h1>Tunageruにようこそ！</h1>
    <p>
      <%= link_to '学生の方はこちら！', new_student_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to '社会人の方はこちら！', new_worker_registration_path %>
    </p>
  </div>