.student_registration{
  text-align: center;
  h2{
    margin-top: 0;
    padding: 20px;
    background-color: #d09b98;
  }

  p{

  }
}

.worker_registration{
  text-align: center;

  h2{
    margin-top: 0;
    padding: 20px;
    background-color: #d09b98;
  }
}

.student_session{
  text-align: center;
    h2{
    margin-top: 0;
    padding: 20px;
    background-color: #d09b98;
  }
}

.worker_session{
  text-align: center;
    h2{
    margin-top: 0;
    padding: 20px;
    background-color: #d09b98;
  }
}