// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.recomend_users{


  .recomend_user{
  background-color: #f1f3f1;
  padding: 20px 0 40px;
  margin: 30px 100px;
  }

}

