.user_info{
  margin-top: 50px;

  .avatar{
    text-align: center;
    img{
      width: 100px;
      border-radius: 100%;
    }
  }

  .user_name{
    text-align: center;
    .kanji{

    }
    .kana{

    }
  }
}